{% extends "layout.default.html.twig" %}

{% block latest %}
<a href="{{ path('emission', {id:shows.0.id, type:shows.0.typeSlug}) }}">
  {{ shows.0.type }} {{ shows.0.number }} : {{ shows.0.authors }} - {{ shows.0.title }} 
</a>
{% endblock %}

{% block title %}Dons{% endblock %}
{% block dons %} {% endblock %}

{% block content %}
<div class="grid-100 tablet-grid-100 mobile-grid-100">
	<div class="cartouche">     
	    <h2 class="showNumber ailleurs">Dons</h2>
	</div> 
</div> 
<div class="grid-100">
	<div class="descriptiontext" style="margin-top:0;">
		<p>Vous pouvez nous soutenir en faisant un don via <a href="https://www.helloasso.com/associations/constructions-incongrues">HelloAsso (formulaire ci-dessous)</a> ou <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=MKANHFQLS4R6C">Paypal</a> <br />
		Pour en savoir plus sur l'association Constructions Incongrues qui s'occupe de Ouïedire vous pouvez lire nos explications <a href="https://www.helloasso.com/associations/constructions-incongrues">ici</a></p>
	</div>
</div>

<iframe id="haWidget" src="https://constructions-incongrues.donnerenligne.fr" style="width:1000px;height:1350px;border:none;" onload="scroll(0,0);"></iframe> {% endblock %}